*{
    padding: 0;
    margin: 0;
    
}
body{
    background-image: url("waves.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 90%;
    margin: 10px auto;
    height: 50px;
}
.navbar ul li a{
    text-decoration: none;
    padding: 0 15px;
    font-size: 18px;
    font-weight:600;
    color: black;
    
}
.navbar ul li{
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li a:hover{
    font-size: 21px;
    color: rgb(0, 0, 0);
    transition: 0.4s ease-out;
    padding: 8px;
    
}
.heading h1{
    font-size: 35px;
    position: fixed;
}
.nav{
    float: right;
}

.hr{
    width:95%;
    opacity: 0.3;
    margin: 0 auto;
}
.fruitgame{
    background-image:linear-gradient(rgb(255, 125, 125), rgb(124, 233, 124));
    width:95%;
    height:110px;
    margin: 85% 45%;
    border-radius: 20px;
}
.fruitgame img{
    height:120px;
    position: relative;
    top:-50px;
    left:-50px;
}
.quizgame{
    background-image: linear-gradient(rgb(118, 189, 255),rgb(124, 233, 124));
    background-color: red;
    width: 75%;
    height: 110px;
    border-radius: 20px;
    margin: 65% 85%;
}
.quizgame img{
    height:130px;
    position: relative;
    top:-40px;
    left:-50px;
}
.mathgame{
    background-image: linear-gradient(rgb(255, 255, 108),rgb(124, 233, 124));
    background-color: red;
    width: 80%;
    height: 110px;
    border-radius: 20px;
    margin: 70% 105%;
}
.mathgame img{
    height:110px;
    position: relative;
    top:-30px;
    left:-40px;
}
.left{
    display: flex;
}
.menu-btn{
    color: rgb(0, 110, 255);
    font-size: 25px;
    cursor: pointer;
    display: none;
    padding-top: 10px;
}
.nav .fas{
    display: none;
}
.left a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: black;
}
#name1{
    margin:16% 0 0 -50px;
}
#name2{
    margin:16% 0 0 -20px; 
}
#name3{
    margin:16% 0 0 20px;
}
img:hover{
    transform: scale(1.3);
    transition: 0.5s;
}

.right{
    float: right;
    margin-top: -250px;
    margin-right: 80px;
    width: 35%;
}
.right h1{
    font-size: 50px;
    text-align: center;
    color: rgb(0, 119, 255);
    text-shadow: 4px 5px rgb(182, 182, 182);
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.right p{
    text-align: right;
    margin-top: 30px;
    font-size: 18px;
}





@media (max-width: 700px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .navbar ul{
        display: inline-block;
        margin-top: 20%;
    }
    .nav{
        margin-left:30px;
        height: 100vh;
        position: absolute;
        left:-1000px;
        transition: all 0.5s ease;
        z-index: 1;
        background: rgb(107, 170, 252);
    }
    .nav .fas{
        display: block;
        position: absolute;
        right:20px;
        top: 10px;;
        font-size: 30px;
        cursor: pointer;
    }
    .navbar ul li{
        width: 100%;
        top: 0;
        
        padding-bottom: 20%;
        text-align: center;
        padding-top:0 100px;
        transition: all 0.3s ease;
    }
    .navbar ul.active{
        left: 0;
    } 
    .navbar ul li{
        display: block;
    }
    .navbar ul li a{
        margin: 20px 0;
        font-size: 25px;
        text-decoration: none;
        padding: 0 100px;
    }
    .heading{
        position: absolute;
        right:210px;
    }

}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
 @media (max-width:700px){
     .left{
         display: inline-block;
         align-items: center;
     }
     .fruitgame{
        margin: 30% 0 0% 110%;
        width: 75%;
     }
     .quizgame{
        margin: 40% 0 0% 110%;
     }
     .mathgame{
        margin: 45% 0 0% 110%;
     }
     .left a{
         text-decoration: none;
     }
     .left #name1{
         color:black;
         font-size: 18px;
         margin:0 0 0 10%;
         font-weight: 700;
         position: absolute;
         left:30%;
     }
     .left #name2{
        color:black;
        font-size: 18px;
        margin:0 0 0 10%;
        font-weight: 700;
        position: absolute;
        left:29%;
    }
    .left #name3{
        color:black;
        font-size: 18px;
        margin:0 0 0 10%;
        font-weight: 700;
        position: absolute;
        left:32%;
    }
    .right{
        display: none;
    }
 }