*{
    padding: 0;
    margin: 0;
    
}
.navbar{
    width: 90%;
    margin: 10px auto;
    height: 50px;
}
.navbar ul li a{
    text-decoration: none;
    padding: 0 15px;
    font-size: 18px;
    font-weight:600;
    color: black;
    
}
.navbar ul li{
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li a:hover{
    font-size: 21px;
    color: rgb(0, 110, 255);
    transition: 0.4s ease-out;
    padding: 8px;
    
}
.heading h1{
    font-size: 35px;
    position: fixed;
}
.nav{
    float: right;
}
.hr{
    width:95%;
    opacity: 0.3;
    margin: 0 auto;
}
.fruitgame{
    background-image:linear-gradient(rgb(255, 125, 125), rgb(97, 255, 97));
    width:85%;
    height:110px;
    margin: 85% 45%;
    border-radius: 20px;
}
.fruitgame img{
    height:120px;
    position: relative;
    top:-50px;
    left:-50px;
}
.quizgame{
    background-image: linear-gradient(rgb(118, 189, 255),rgb(97, 255, 97));
    background-color: red;
    width: 75%;
    height: 110px;
    border-radius: 20px;
    margin: 65% 85%;
}
.quizgame img{
    height:130px;
    position: relative;
    top:-40px;
    left:-50px;
}
.mathgame{
    background-image: linear-gradient(rgb(255, 255, 108),rgb(97, 255, 97));
    background-color: red;
    width: 80%;
    height: 110px;
    border-radius: 20px;
    margin: 70% 135%;
}
.mathgame img{
    height:110px;
    position: relative;
    top:-30px;
    left:-40px;
}
.left{
    display: flex;
}
.menu-btn{
    color: rgb(0, 110, 255);
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.nav .fas{
    display: none;
}
@media (max-width: 700px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .navbar ul{
        display: inline-block;
        margin-top: 20%;
    }
    .nav{
        margin-left:40px;
        height: 100vh;
        position: absolute;
        left:-1000px;
        transition: all 0.5s ease;
        z-index: 1;
        background: rgb(0, 110, 255);
    }
    .nav .fas{
        display: block;
        position: absolute;
        right:20px;
        top: 10px;;
        font-size: 30px;
        cursor: pointer;
    }
    .navbar ul li{
        width: 100%;
        top: 0;
        
        
        text-align: center;
        padding-top:0 100px;
        transition: all 0.3s ease;
    }
    .navbar ul.active{
        left: 0;
    } 
    .navbar ul li{
        display: block;
    }
    .navbar ul li a{
        margin: 20px 0;
        font-size: 25px;
        text-decoration: none;
        padding: 0 100px;
    }
    .heading{
        position: absolute;
        right:210px;
    }

}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
 @media (max-width:700px){
     .left{
         display: inline-block;
         align-items: center;
     }
 
 }
